<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Test2</title>
  <style>* { padding: 0; margin: 0; }
  canvas { display: block; margin: 0 auto; }
  #map {z-index: 1; position:absolute; left:0px; top:0px;}
  #players {z-index: 2; position:absolute; left:0px; top:0px;} </style>
</head>

<body>

  <div style="display:none;">
    <img id="source" src = "{{ url_for('static', filename='map_alpha_mini.png') }}" >
    <img id="background" src = "{{ url_for('static', filename='map_alpha.png') }}" >
    <img id="grid" src = "{{ url_for('static', filename='grid.png') }}">
    <img id="heal" src = "{{ url_for('static', filename='heal.png') }}" >
    <img id="boost" src = "{{ url_for('static', filename='boost.png') }}" >


  </div>

  <canvas id="map" ></canvas>
  <canvas id="players"></canvas>
  <script type="text/javascript" src = "https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.8/socket.io.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

  <script src="{{ url_for('static', filename='Players_interface.js') }}" rel="stylesheet" type="text/javascript" /></script>

  <script>


  // Canvas parameters :

  var map_canvas = document.getElementById("map");
  var map_ctx = map_canvas.getContext("2d");
  var map_rendered = document.createElement("canvas");
  var map_rendered_ctx;

  map_canvas.height = window.innerHeight;
  map_canvas.width = window.innerWidth;

  var players_canvas = document.getElementById("players");
  var players_ctx = players_canvas.getContext("2d");
  players_canvas.height = window.innerHeight;
  players_canvas.width = window.innerWidth;

  //  Others
  var spacePressed = false;
  var once = true;
  var quadwidth = 2;
  var quadspace = 50;
  var drawing = true;
  var canvas_width = map_canvas.width ;
  var canvas_height = map_canvas.height;
  var bonus_width = 40 ;
  var bonus_height = 40;
  var socket = io.connect('http://127.0.0.1:5000');


  class game_infos{

    constructor(){
      this.bigballRadius = 10;
      this.vmax = 200;
      this.smallballRadius = 3;
      this.alive = true;
      this.personalX = 0 ;
      this.vx;
      this.personalY = 0 ;
      this.vy;
      this.v0 = Math.sqrt(Math.pow(this.vx,2) + Math.pow(this.vy,2) ) ;
      this.score_red = 0;
      this.score_blue = 0;
      this.id = -1 ;
      this.client_players = {} ;
      this.client_bullets = {} ;
      this.client_color = {} ;
      this.client_bonus = {} ;
      this.team_colors = {'red' : '#ff0000', 'blue' : '#0000ff'} ;
      this.map_width;
      this.map_height;
    }

    authentification(dict){
      this.id =  dict["id"];
      this.alive = true ;
      this.map_width = dict["map_width"] ;
      this.map_height = dict["map_height"] ;
      this.compute_rendering();
    }

    compute_rendering(){
      map_rendered.width = this.map_width ;
      map_rendered.height = this.map_height ;
      map_rendered_ctx = map_rendered.getContext("2d");
      // contour de la map
      map_rendered_ctx.beginPath()
      map_rendered_ctx.fillStyle = "#ff0000";
      map_rendered_ctx.moveTo(0,0);
      map_rendered_ctx.lineTo(map_rendered.width,0);
      map_rendered_ctx.lineTo(map_rendered.width, map_rendered.height);
      map_rendered_ctx.lineTo(0, map_rendered.height);
      map_rendered_ctx.stroke() ;
      // quadrillage
      for (var nx = 0; nx < Math.floor(map_rendered.width/quadspace)+1; nx += 1){
        map_rendered_ctx.beginPath();
        map_rendered_ctx.rect(nx*quadspace,0, quadwidth, map_rendered.width);
        map_rendered_ctx.fillStyle = "#9E9E9E";
        map_rendered_ctx.fill();
        map_rendered_ctx.closePath();
      }
      for (var ny = 0; ny < Math.floor(map_rendered.width/quadspace);ny += 1){
        map_rendered_ctx.beginPath();
        map_rendered_ctx.rect(0,ny*quadspace, map_rendered.width, quadwidth);
        map_rendered_ctx.fillStyle = "#9E9E9E";
        map_rendered_ctx.fill();
        map_rendered_ctx.closePath();
      }
      var back = document.getElementById('background');
      map_rendered_ctx.drawImage(back,0,0);
    }

    update(game){
      drawing = true;
      this.client_players = game["players"] ;
      this.client_bullets = game["bullets"] ;
      this.client_bonus = game["bonus"] ;
      this.personalX = this.client_players[this.id]["x"] ;
      this.personalY = this.client_players[this.id]["y"];
      this.personalPseudo = this.client_players[this.id]["pseudo"];
    }

    score_update(scores){
      this.score_red = scores['score_red'];
      this.score_blue = scores['score_blue'];
    }

    death(ID){
      if (ID == this.id)
      {
        this.alive = false ;
        socket.emit('logout');
      }
    }

    mouseMoveHandler(e){
      if (this.alive)
      {
        this.relativeX = e.clientX + window.pageXOffset;
        this.relativeY = e.clientY + window.pageYOffset;
        this.vx = this.relativeX - canvas_width/2 ;
        this.vy = this.relativeY - canvas_height/2 ;
        this.v0 = Math.sqrt(Math.pow(this.vx,2) + Math.pow(this.vy,2) );

        if (this.v0 > this.vmax)
        {
          this.vx = this.vx*this.vmax/this.v0 ;
          this.vy = this.vy*this.vmax/this.v0 ;
          this.v0 = this.vmax ;
        }
        socket.emit('client_speed_update', this.id, this.vx, this.vy ) ;
      }
    }

    keyDownHandler(e){
      if(e.keyCode == 32 && once && this.alive)
      {
        spacePressed = true;
        once = false;
        socket.emit('client_shoot', this.id,(this.vx*this.vmax)/this.v0, (this.vy*this.vmax)/this.v0);
      }
    }

    keyUpHandler(e){
      if(e.keyCode == 32 && this.alive)
      {
        spacePressed = false;
        once = true;
      }
    }
  }

  class ball
  {
    constructor(x,y,r,color){
      this.x = x;
      this.y = y;
      this.rayon = r;
      this.nbaby = [];
      this.color = color;
    }

    drawBall(){
      players_ctx.beginPath();
      players_ctx.arc(this.x, this.y, this.rayon, 0, 2*Math.PI);
      players_ctx.fillStyle = this.color;
      players_ctx.fill();
      players_ctx.closePath();
    }
  }

// Socket_IO functions

socket.on('connect', function(){
  socket.emit('new_connection');
});

socket.on('dead',function(ID){
  game_infos_session.death(ID);
});

socket.on('score_update',function(scores){
  game_infos_session.score_update(scores);
});

socket.on('authentification',function(dict){
  game_infos_session.authentification(dict);
});

socket.on('update',function(game){
  game_infos_session.update(game);
});

document.addEventListener("mousemove", function(e){game_infos_session.mouseMoveHandler(e);}, false);
document.addEventListener("keydown", function(e){game_infos_session.keyDownHandler(e);}, false);
document.addEventListener("keyup", function(e){game_infos_session.keyUpHandler(e);}, false);


function draw(logs)
{

  if (drawing)
  {

    map_ctx.clearRect(0, 0, map_canvas.width, map_canvas.height);
    map_ctx.drawImage( map_rendered, canvas_width/2 - logs.personalX, canvas_height/2 - logs.personalY );
  }

  socket.emit('request_frame');

  if (drawing)
  {
    players_ctx.clearRect(0, 0, players_canvas.width, players_canvas.height);

    for (var id_players in logs.client_players)
    {
      id_players = Number(id_players);
      var x = logs.client_players[id_players]["x"];
      var y = logs.client_players[id_players]["y"];
      if (Math.abs(x-logs.personalX) <= canvas_width/2 && Math.abs(y-logs.personalY) <= canvas_height/2 )
      {
        let B = new ball(x - logs.personalX + canvas_width/2, y - logs.personalY + canvas_height/2,
          logs.client_players[id_players]["r"], logs.team_colors[logs.client_players[id_players]["team"]]);
          B.drawBall();
          drawWidgets(logs,id_players);
          if (logs.id != -1 )
          {
            drawLife(logs.client_players[logs.id]["r"]);
          }
        }
      }
      for (var id_bullets in logs.client_bullets)
      {
        id_bullets = Number(id_bullets);
        var x = logs.client_bullets[id_bullets]["x"];
        var y = logs.client_bullets[id_bullets]["y"];
        if (Math.abs(x-logs.personalX) <= canvas_width/2 && Math.abs(y-logs.personalY) <= canvas_height/2 )
          {
          let B = new ball(x - logs.personalX + canvas_width/2, y - logs.personalY + canvas_height/2,
            logs.smallballRadius, logs.team_colors[logs.client_bullets[id_bullets]["team"]]);
            B.drawBall();
          }
      }
        for (var id_bonus in logs.client_bonus)
        {
          id_bonus = Number(id_bonus);
          bonus_skin = document.getElementById(logs.client_bonus[id_bonus]["type"]);
          map_ctx.drawImage(bonus_skin,
            logs.client_bonus[id_bonus]["x"] - logs.personalX + canvas_width/2-bonus_width/2,
            logs.client_bonus[id_bonus]["y"] - logs.personalY + canvas_height/2-bonus_height/2,
            bonus_width, bonus_height ) ;
        }
      }
        drawing = false;
        requestAnimationFrame(function(){
          draw(logs);
        });
      }

      var game_infos_session = new game_infos();
      draw(game_infos_session);

    </script>

  </body>
  </html>
